# =========================
# General
# =========================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# pytest cache
.pytest_cache/

# Python virtual environments
.env/
venv/
env/
.Python

# Python distribution / packaging
build/
dist/
downloads/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Project archives and backups
Archive/

# =========================
# Node.js / JavaScript
# =========================

# Node modules and logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Expo
.expo/
web-build/
expo-env.d.ts

# Build outputs
dist/

# Metro bundler
.metro-health-check*

# =========================
# Native Mobile
# =========================

# Android
android/.gradle/
android/app/build/
*.jks

# Kotlin
.kotlin/

# iOS
ios/Pods/
ios/build/
*.p8
*.p12
*.key
*.mobileprovision

# Patch/original files
*.orig.*

# =========================
# Editor & IDE
# =========================

.idea/
.vscode/
*.swp
*.swo

# =========================
# macOS
# =========================

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# macOS Key files
*.pem

# =========================
# Windows
# =========================

Thumbs.db
ehthumbs.db
Desktop.ini

# =========================
# Environment variables and secrets
# =========================

.env
.env.*
!.env.example

# =========================
# TypeScript
# =========================

*.tsbuildinfo
